@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}
#hero {
  width: 100vw;
  height: 120vh;
  @include flex(column);
  align-items: center;
  justify-content: center;
  form {
    width: 95vw;
    @include flex(row);
    background-color: rgba(0, 0, 0, 0.561);
    justify-content: space-between;
    padding: 15px;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: 770px) {
      flex-direction: column;
      gap: 20px;
      align-items: center;
    }
  }
}
.custom-datepicker .MuiInputBase-root {
  padding-top: 0;
}
